@model kurssitietokanta.Models.Lukukaudet

@{
    ViewBag.Title = "Luo uusi";
}

@*tästä alkaa modal-ikkuna--------------------------------------------------------------------------*@
<div class="modal fade" id="ModalLukukaudetCreate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Luo uusi lukukausi</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Lukukaudet", FormMethod.Post, new { id = "createForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Lukukausi_Id)
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Kausinumero_Id, "Kausinumero", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Kausinumero_Id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Kausinumero_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row-cols-xl-1">
                                @Html.LabelFor(model => model.Tutkintoosa_Id, "Tutkinnon osa", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Tutkintoosa_Id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Tutkintoosa_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row-cols-xl-1">
                                @Html.LabelFor(model => model.Opintojakson_Id, "Opintojakson nimi", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Opintojakson_Id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Opintojakson_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row-cols-xl-1">
                                @Html.LabelFor(model => model.Päivienlukumäärä, "Päivien määrä", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Päivienlukumäärä, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Päivienlukumäärä, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row-cols-xl-1">
                                @Html.LabelFor(model => model.Tuntienmäärä, "Tuntien määrä", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Tuntienmäärä, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Tuntienmäärä, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row-cols-xl-1">
                                @Html.LabelFor(model => model.Toteutustapa_Id, "Toteutustapa", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Toteutustapa_Id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Toteutustapa_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Toteutuskausi_Id, "Toteutuskausi", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Toteutuskausi_Id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Toteutuskausi_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row-cols-xl-1">
                                @Html.LabelFor(model => model.Pvm, "Pvm, muodossa vvvv-kk-pv", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Pvm, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Pvm, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Klo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Klo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Klo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Vikkonpäivä, "Viikonpäivä", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Vikkonpäivä, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Vikkonpäivä, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Kieli_Id, "Kieli", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Kieli_Id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Kieli_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row-cols-xl-1">
                                @Html.LabelFor(model => model.AiheOPtilausjärjestely, "Aihe OP tilausjärjestely", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AiheOPtilausjärjestely, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AiheOPtilausjärjestely, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                @*Formin lähettävä button, joka ei kuitenkaan ole formin sisällä, mutta viittaa formin ID:hen*@
                <button type="submit" class="btn btn-sm card-buttons" form="createForm"><i class="fas fa-check"></i></button>
                @*Kontrollerin kutsu Url.Action -komennolla, jotta peruuttaminen johtaa alkutilanteeseen*@
                <a href="@Url.Action("Index", "Lukukaudet")" class="btn-sm card-buttons"><i class="fas fa-times"></i></a>
            </div>
        </div>
    </div>
</div>
