@model kurssitietokanta.Models.Tutkintoalueet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tutkintoalueet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tutkintoaluenimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutkintoaluenimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutkinnot.Tutkintonimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutkinnot.Tutkintonimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tutkintoalue_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
