@model kurssitietokanta.Models.Tutkintokurssit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tutkintokurssit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opintojaksot.Opintojaksonnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opintojaksot.Opintojaksonnimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutkinnot.Tutkintonimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutkinnot.Tutkintonimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tutkintokurssi_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
