@model kurssitietokanta.Models.Tutkinnonosat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tutkinnon osat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tutkintoosanimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutkintoosanimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaajuusOSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaajuusOSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esitietovaatimus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esitietovaatimus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutkinnot.Tutkintonimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutkinnot.Tutkintonimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vastuuopettajat.Vastuuopettajanimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vastuuopettajat.Vastuuopettajanimi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
