@model  PagedList.IPagedList<kurssitietokanta.Models.Kurssimateriaalit>
@using PagedList.Mvc
<Link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Kurssimateriaalit";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

@*Tämä on jqueryä*@
@section scripts {
    <script type="text/javascript">
        @*$(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#ModalTutkinnotCreate').modal('show');
            }
        });*@

        $(function () {
            $(".creNewKurssimateriaali").click(function () {
                console.log("Klikkasit uuden kurssimateriaalin luontipainiketta: ");
                var url = "/Kurssimateriaalit/_ModalCreate";
                console.log(url);

                $("#kurssimateriaaliCreate").append(" <b>Avataan tutkinnon luonti-ikkuna...</b>");

                var $detailDivCreate = $("#kurssimateriaaliCreate");
                $.get(url, function (data) {
                    $detailDivCreate.replaceWith(data);
                    $('#ModalKurssimateriaaliCreate').modal('show');
                });
            });
        });
        $(function () {
            $(".getKurssiMateriaaliId").click(function () {
                let kurssiMateriaaliTemp = $(this).data("teknisetmateriaalitid");
                console.log("Klikkasit kurssimateriaalia: " + kurssiMateriaaliTemp);
                var url = "/Kurssimateriaalit/_ModalEdit/?id=" + kurssiMateriaaliTemp;
                console.log(url);

                $("#kurssimateriaaliEdit").append(" <b>Avataan kurssimateriaalin " + kurssiMateriaaliTemp + " muokkausikkuna...</b>");

                var $detailDivEdit = $("#kurssimateriaaliEdit");
                $.get(url, function (data) {
                    $detailDivEdit.replaceWith(data);
                    $('#ModalKurssimateriaaliEdit').modal('show');
                });
            });
        });
        $(function () {
            $(".delKurssiMateriaaliId").click(function () {
                let kurssiMateriaaliId = $(this).data("teknisetmateriaalitid");
                console.log("Klikkasit poistettavaa: " + kurssiMateriaaliId);
                var url = "/Kurssimateriaalit/_ModalDelete/?id=" + kurssiMateriaaliId;
                console.log(url);

                $("#kurssimateriaaliDelete").append(" <b>Avataan kurssimateriaalin " + kurssiMateriaaliId + " poistoikkuna...</b>");

                var $detailDivDelete = $("#kurssimateriaaliDelete");
                $.get(url, function (data) {
                    $detailDivDelete.replaceWith(data);
                    $('#ModalKurssimateriaaliDelete').modal('show');
                });
            });
        });
    </script>
}

<div class="dropdown mt-4 mb-0">
    <button onclick="show_dropdown()" class="btn dropdown-btn"><strong>Lisää linkkejä</strong><i style='font-size:20px;margin-left:20px' class='fas'>&#xf0c9;</i></button>
    <div id="dropdown-items" style="display:none">
        <a href="~/Tutkintoalueet/Index"><strong>Tutkintoalueet </strong> <i class="fas fa-arrow-right"></i></a> <br />
        <a href="~/Tutkintokurssit/Index"><strong>Tutkintokurssit </strong> <i class="fas fa-arrow-right"></i></a> <br />
        <a href="~/Opintomateriaalit/Index"><strong>Opintomateriaalit </strong> <i class="fas fa-arrow-right"></i></a> <br />
        <a href="~/Teknisetmateriaalit/Index"><strong>Teknisetmateriaalit </strong> <i class="fas fa-arrow-right"></i></a> <br />
        <a href="~/Kurssimateriaalit/Index"><strong>Kurssimateriaalit </strong> <i class="fas fa-arrow-right"></i></a>
    </div>
</div>

<script>
    function show_dropdown() {
        var click = document.getElementById("dropdown-items");
        if (click.style.display === "none") {
            click.style.display = "block";
        } else {
            click.style.display = "none";

        }
    }
</script>

<div class="container text-center title-Opettajat">
    <div class="row">
        <div class="col-md-12 ">
            <h3>KURSSIMATERIAALIT</h3>
        </div>
    </div>
</div>

<div class="col-12">
    @using (Html.BeginForm("Index", "Kurssimateriaalit", FormMethod.Get))
    {
        <div class="input-group mb-4 text-center search-box" style="display:table;margin-left:auto;margin-right:auto">
            @Html.TextBox("SearchedItem", ViewBag.SearchedItemList as string, new { placeholder = "Etsi Kurssimateriaali nimellä:", @class = "form-Kurssimateriaalit" })
            <button class="btn" type="submit" value="form-Kurssimateriaalit">Search</button>
        </div>
    }
</div>

<div id="kurssimateriaaliCreate" class="row text-left">
    <div class="col-md-6 ">
        Lisää Kurssimateriaalia <button class="creNewKurssimateriaali fas fa-plus-square"></button>
    </div>
    <div class="col-md-6 print">
        <div id="print">
            <button onclick="location.href='@Url.Action("Print", "Kurssimateriaalit")';return false;">Print <i style="color:#b59b5d" class="fa fa-print"></i></button>
            <button onclick="location.href='@Url.Action("ExportToCSV", "Kurssimateriaalit")';return false;">Vie CSV: hen <i style="color:#b59b5d" class="fas fa-file-csv"></i></button>
            <button onclick="location.href='@Url.Action("ExportToExcel", "Kurssimateriaalit")';return false;">Vie EXECLIIN <i style="color:#b59b5d" class="fas fa-file-excel"></i></button>
        </div>
    </div>
</div>


<div id="kurssimateriaaliDelete"></div>

<div class="row">
    <div id="kurssimateriaaliEdit" class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.ActionLink("OpintomateriaalitKuvaus", "Index", new { SortByOrder = ViewBag.ShowSortedOpintomateriaalitKuvaus }, new { @class = "btn btn-dark" })</th>
                    <th>TeknisetmateriaalitKuvaus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Opintomateriaalit.Kuvaus)</td>
                        <td>@Html.DisplayFor(modelItem => item.Teknisetmateriaalit.Kuvaus)</td>
                        <td>
                            <button class="getKurssiMateriaaliId fas fa-edit" data-teknisetmateriaalitid="@item.Kurssimateriaali_Id"></button>
                            <button class="delKurssiMateriaaliId fas fa-trash-alt" data-teknisetmateriaalitid="@item.Kurssimateriaali_Id"></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row text-left">
    Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sivuista @Model.PageCount
</div>
<div class="row text-left">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, SortByOrder = ViewBag.SortedPage, PageItems = ViewBag.SearchedItemList }))
</div>